<div style="height: 500px;overflow:auto;width:80%;margin:auto;">
<table style="color:white;background-color:#212121;width:100%;" >
    {{#each grupos}}

    <tr style="border-top: 2px solid white;border-bottom: 2px solid white;">
        <th>
        <h5>{{Nombre}}</h5>
        </th>
        <th>
        </th>
        <th>
            
        </th>
        <td>
            <form action="/grupo/ver/" method="GET"><button name="id" class="table_button" value="{{grupo_id}}">Ver/Entrar</button></form>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp<img src="/img/icons/corona_icono.png" alt="" class="icon">&nbsp{{owner}}
        </td>
        <td>
            &nbsp<img src="/img/icons/estado_icono.png" alt="" class="icon">&nbsp
            {{#if activo}}
                Abierto
                {{else}}
                Cerrado
            {{/if}}
        </td>
        <td>
            &nbsp<img src="/img/icons/dias_icono.png" alt="" class="icon">&nbsp{{dias}}/7
        </td>
        <td>
             &nbsp<img src="/img/icons/reloj_icono.png" alt="" class="icon">&nbsp{{hora_inicio}}&nbsp{{hora_final}}
        </td>
        <tr>
        <tr>
            <td>
            &nbsp<img src="/img/icons/manual_icono.png" alt="" class="icon">
                <select name="manuales" id="manuales" style="width: 40%;">
                     &nbsp<option>Manual del Jugador</option>
                     {{#each manuales}}
                        &nbsp<option disabled>{{manual}}</option>
                     {{/each}}
                </select>
            </td>
            <td>
                &nbsp<img src="/img/icons/jugadores_icono.png" alt="" class="icon">&nbsp{{miembros_actuales}}
            </td>
            <td>
                &nbsp<img src="/img/icons/perfil_icono.png" alt="" class="icon">&nbsp{{amigos}}
            </td>
            <td>
                &nbsp<img src="/img/icons/zona_horaria.png" alt="" class="icon">&nbsp{{zona_horaria}}
            </td>
        </tr>
        <tr>
            <td>
            &nbsp<img src="/img/icons/juego_icono.png" alt="" class="icon">&nbsp{{modulo}}
            </td>
        </tr>
    </tr>
    
    {{/each}}
</table>
</div>
</br>
</br>
</br>