<div class="background_panel" style="color: white;height: 900px;">
    <h3 style="text-align: center;">{{Nombre}}</h3>
    <hr style="width:100%">
    <div class="newrow" style="width: 98%;margin:auto;justify-content:space-evenly">
        <div class="column" style="width: 20%;">
            <img src="/img/icons/manual_icono.png" alt="" class="icon">
               <select name="manuales" id="manuales" style="width: 85%;">
                     &nbsp<option>Manual del Jugador</option>
                     {{#each manuals}}
                        &nbsp<option disabled>{{manual}}</option>
                     {{/each}}
                </select>

        </div>
        <div class="column"style="width: 30%;">
             &nbsp<img src="/img/icons/juego_icono.png" alt="" class="icon">&nbsp{{modulo}}
        </div>
        <div class="column"style="width: 10%;">
             &nbsp<img src="/img/icons/dias_icono.png" alt="" class="icon">&nbsp{{dias}}/7
        </div>
        <div class="column"style="width: 20%;">
              &nbsp<img src="/img/icons/reloj_icono.png" alt="" class="icon">&nbsp{{hora_inicio}} &nbsp{{hora_final}}
        </div>
         <div class="column"style="width: 20%;">
              &nbsp<img src="/img/icons/zona_horaria.png" alt="" class="icon">&nbsp{{zona_horaria}}
        </div>
    </div>
    <hr style="width:100%">
    <br>
    
    <div class="newrow" style="width: 98%;margin:auto;justify-content:space-evenly">
        <div class="column"style="width: 5%;">
              &nbsp<img src="/img/icons/nombre_icono.png" alt="" class="icon">
        </div>
        <div class="column"style="width: 45%;text-align:left;">
            {{#if descr}}
              &nbsp{{descr}}
            {{else}}
                Este grupo no tiene descripción
            {{/if}}
        </div>
        <div class="column"style="width: 5%;">
              &nbsp<img src="/img/icons/libro_icono.png" alt="" class="icon">
        </div>
        <div class="column"style="width: 45%;text-align:left;">
            {{#if rules}}
              &nbsp{{rules}}
            {{else}}
                No hay reglas especificas
            {{/if}}
        </div>
    </div>
    <br>
    <hr style="width:100%">
    {{#if miembro}}


    <br>
    <div style="width: 98%;margin:auto;height:550px;background-color:#2e2e2e;">
        <div class="column" style="width: 65%;">


            <div class="newrow" style="width: 100%;margin-left:1%">
                {{#each foros}}
                <div class="newrow" style="width: 95%;background-color:#3b3b3b;margin-top:8px">
                    <form action="">
                    <button name="id" class="forum_button">
                    <div class="column" style="width: 15%;margin-top:2px;">
                            <img src="/img/icons/foro_icono.png" alt="" class="forum_icon">
                    </div>
                    <div class="column" style="width: 35%;margin-top:2px;">
                            <div class="newrow">
                                TITULO: {{nombre}}
                            </div>
                            <div class="newrow" style="margin-top:18px;width:100%">
                                <div class="column"style>
                               &nbsp<img src="/img/icons/foro_mensajes.png" alt="" class="icon">
                                </div>
                                <div class="column">
                                &nbsp<img src="/img/icons/reloj_icono.png" alt="" class="icon">
                                </div>
                            </div>
                    </div>
                    <div class="column" style="width: 10%;margin-top:2px;padding-top:20px">
                        DESCRIPCIÓN:&nbsp
                    </div>
                    <div class="column" style="width: 35%;margin-top:2px;text-align:left;margin-left:3%">
                        {{descr}}
                    </div>
                    </button>
                    </form>
                    </div>
                {{/each}}
                </div>
            </div>
            
            <div class="column"style="width:30%;margin:auto;margin-top:8px;margin-bottom:8px">
                <div class="newrow" style="width: 100%;">
                    <h5 class="friends_title" style="margin:auto;padding-bottom:15px;">INTEGRANTES ({{miembros_actuales}})</h5>
                </div>
                <br>
                <div class="members_panel">
                {{#each integrante}}
                    <form action="../../usuarios/ver_perfil" method="GET" style="width:100%;margin:auto;text-align:center">
                        <button name="id" class="memberButton" value="{{usuario_id}}">
                            <div class="newrow" style="width: 100%;">
                                <h5>{{miembro_login}}</h5>
                            </div>
                            <div class="newrow" style="width: 100%;">
                                {{#loop 1 rating 1 }}
                                    <div>{{this}}</div>
                                {{/loop}}
                            </div>
                        </button>
                    </form>
               {{/each}}
               </div>
            </div>
        </div>
    </div>
    {{else}}
        <form action="join" method="POST" style="height:60%;">
        <div class="graypanel" style="width: 98%;margin:auto;height:100%;background-color:#2e2e2e;padding-top:10%; text-align:center;">
            <h3>INGRESA AL GRUPO PARA TENER ACCESO A LOS FOROS</h3> 
                <div class="form-group">
                    <br>
                <button name="index" class="btn btn-success" style="width: 30%; margin-top:20px;" value="{{grupo_id}}">INGRESAR AL GRUPO</button>
                </div>
        </div>
        </form>
    {{/if}}

</div>